**/__pycache__/
__pycache__/
*.DS_Store
*.gitattributes
**/.idea
**/.ipynb_checkpoints/
**.zip

**.nc
*.nc
**/*.nc
**/**.nc

**.joblib
*.joblib
**/*.joblib
**/**.joblib

**.csv
*.csv
**/*.csv
**/**.csv

**.feather
*.feather
**/*.feather
**/**.feather
